<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.haircare">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Haircare">
        <activity android:name=".board.BoardDetailActivity" />
        <activity android:name=".board.BoardSecond_DetailActivity" />
        <activity android:name=".board.BoardSecondWriteActivity" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".analyze.MicroscopeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".analyze.AnalyzeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".analyze.AnalyzeResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".analyze.AnalyzeResult400Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".member.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".member.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".member.SignUpFinishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".member.SurveyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".member.TermDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>